    <nav class="nav-wrapper yellow accent-4">
        <a href="/" class="brand-logo center" id="nav-logo">Grocr</a>
    </nav>

    <div class="container">
        <h1>Welcome</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quaerat ipsum tempora labore? Assumenda
            omnis quis obcaecati voluptate aliquid alias incidunt. Repellendus officiis eligendi est asperiores a
            reiciendis explicabo maiores!</p>
        <form class="center login">
            <div class=row>
                <p>Email</p>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <input id="email-input" type="email" class="validate">
                    <label for="email-input">Email</label>
                </div>
            </div>
            <div class=row>
                <p>Password</p>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <input id="password-input" type="password" class="validate">
                    <label for="password-input">Password</label>
                </div>
            </div>

            <div class="row">
                <button class="btn center-align" id="login-btn">Login</button>
            </div>
            <div class="row">
                <button class="btn center-align" id="signup-btn">Sign Up</button>
            </div>

        </form>
    </div>
    <script src="/js/login.js"></script>