<nav class="nav-wrapper accent-4">
    <a class="brand-logo center" id="nav-logo">Done 'n Dusted</a>
</nav>

<main class="container">
    <p class="center-align" id="info-para"></p>
    <form class="center login">
        <div class=row>
            <p>Email</p>
        </div>
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <input id="email-input" type="email" class="validate">
            </div>
        </div>
        <div class=row>
            <p>Password</p>
        </div>
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <input id="password-input" type="password" class="validate">
            </div>
        </div>
        {{!-- Buttons for Logging in or Signing up --}}
        <div class="row">
            <button class="btn center-align login-spacing" id="login-btn">Login</button>
        </div>
        <div class="row">
            <button class="btn center-align" id="signup-btn">Sign Up</button>
        </div>

    </form>
</main>
<script src="/js/login.js"></script>