    <nav class="nav-wrapper yellow accent-4">
        <a href="/" class="brand-logo center" id="nav-logo">Grocr</a>
    </nav>
    <div class="container">
        <form class="row" id="form-area">
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <span>Email</span>
                    <input id="email" type="email" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <p>First Name</p>
                    <input id="fname" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <p>Last Name</p>
                    <input id="lname" type="text" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <p>Password</p>
                    <input id="password" type="password" class="validate">
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-s4 s4">
                    <p>Confirm Password</p>
                    <input id="confirm-password" type="password" class="validate">
                </div>
            </div>
            <div class="row center">
                <button class="btn" id="submit-btn">SUBMIT</button>
            </div>
        </form>
    </div>