<nav class="nav-wrapper yellow accent-4">
    <button class="btn green  loginbtn" id="login-page-btn">LOGIN</button>
    <a href="/" class="brand-logo center" id="nav-logo">Grocr</a>
</nav>
<div class="container">
    <form class="row signup" id="form-area">
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <span>Email</span>
                <input id="email-input" type="email" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <p>First Name</p>
                <input id="first-name-input" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <p>Last Name</p>
                <input id="last-name-input" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col offset-s4 s4">
                <p>Password</p>
                <input id="password-input" type="password" class="validate">
            </div>
        </div>
        {{!-- <div class="row">
                <div class="input-field col offset-s4 s4">
                    <p>Confirm Password</p>
                    <input id="confirm-password" type="password" class="validate">
                </div>
            </div> --}}
        <div class="row center">
            <button class="btn" id="submit-btn">SUBMIT</button>
        </div>
    </form>
    <script src="/js/signup.js"></script>