<nav class="nav-wrapper yellow accent-4">
    <button class="btn green" id="view-btn">VIEW LIST</button>
    <a href="#" class="brand-logo center" id="nav-logo">Grocr</a>
    <button class="btn green right" id="logout-btn">LOGOUT</button>
</nav>
<div class="container">
    <div class="row">
        <textarea style="height: 200px;" id="img-area"></textarea>
    </div>
    <div class="row center">
        <span class="btn btn-file" id="submit-btn">
            <i class="material-icons left">cloud_upload</i>
            Upload image of receipt<input type="file">
        </span>
    </div>
</div>
    <script src="/js/uploadpic.js"></script>