nav{
    border-bottom: #ee9f8b 10px solid;
    height:100px;
    background-color:#efbb83;
    color: #202c2d;
    text-shadow:
      0 1px #808d93,
      -1px 0 #cdd2d5,
      -1px 2px #808d93,
      -2px 1px #cdd2d5,
      -2px 3px #808d93,
      -3px 2px #cdd2d5,
      -3px 4px #808d93,
      -4px 3px #cdd2d5,
      -4px 5px #808d93,
      -5px 4px #cdd2d5,
      -5px 6px #808d93,
      -6px 5px #cdd2d5,
      -6px 7px #808d93,
      -7px 6px #cdd2d5,
      -7px 8px #808d93,
      -8px 7px #cdd2d5;
}
body{
    background-color:#b9c3a3;
    
    color:white;
    font-family: 'Martel', serif;
}
h1{
    font-size:30px;
    
}
#nav-logo{
    margin-top: 1rem;
    font-size:3rem;
}
.validate{
    background-color:white;
}
#login-btn, #signup-btn,#ajax-veryfi{
    border-radius: 16px;
    background-color:#78afb4;
}
#view-btn, #logout-btn,#upload-btn{
    border-radius: 16px;
}
#view-btn,#upload-btn{
    margin-left:5rem;
    margin-top:10px;
}
#logout-btn{
    margin-right:5rem;
    margin-top:20px;
    /* background-color:#edb3ba; */
}
form{
    height: auto;
}
#img-area{
    margin-top:10rem;
    color:white;
}
#email-input,#last-name-input,#first-name-input,#password-input,#add-text-box,#add-field{
    border-radius:16px;
    background-color:white;
}
#signup-form{
    margin-top:10rem;
}
.loginbtn{
    margin-left:5rem;
    margin-top:10px;
    border-radius:16px;
    background-color:#78afb4;
}

#adding-icon{
    color:green;
    background-color:#78a1a8;
}
#deleting-icon,#removing-icon{
    color:red;
    background-color:#78a1a8;
}

.file-path{
    color: white;
    font-family: 'Martel', serif;
}
.purchase, a {
    color: white;
    font-family: 'Martel', serif;
}
#storeLogoUrl{
   width: 100px;
   height: 100px;
}
#store,#total{
    color: white;
    font-family: 'Martel', serif;
}
#info-para{
    font-size:28px;
}
.row{
    margin-bottom:0px;
}
.login-spacing{
    margin-bottom:1rem;
}
.store-info,.receipt-area,#ajax-veryfi,#adding-new-items{
    margin-top:1rem;
}
#select-receipt{
    background-color:#78a1a8;
    border-radius: 16px;
}
p{
    font-size:18px;
}
#submit-btn{
    border-radius:16px;
    background-color:#78afb4;
}